
<footer class="SiteFooter">
    <div class="SiteFooter-container">
        <div class="SiteFooter-callToAction">
            {% include '@input-group' %}
            <small class="Heading Heading--context">{{ footerInputSmall }}</small>
        </div>

         <ul class="SiteFooter-icons">
            {% for socialLink in socialLinks %}
            <li class="SiteFooter-icon"><a class="SiteFooter-iconLink" href="{{ socialLink.url }}"><img src="{{ socialLink.imgSrc }}" alt="{{ socialLink.alt }}"></a></li>
            {% endfor %}
        </ul><!--/.SiteFooter-icons-->
        
        <nav class="SiteFooter-navigation" aria-label="Site Footer Navigation">
            <ul class="SiteFooter-navigationLinks">
                {% for footerLink in footerLinks %}
                <li class="SiteFooter-navigationItem"><a href="{{ footerLink.url }}" class="SiteFooter-navigationLink">{{ footerLink.title }}</a></li>
                {% endfor %}
            </ul><!--/.SiteFooter-navigationLinks-->
            <div class="SiteFooter-small">
            {{ siteFooterSmall }}
            </div><!--/.SiteFooter-small-->
        </nav>
    </div><!--/.Cols-->
</footer><!--/.SiteFooter-->
