<div 
    class="EventCard{% if eventModifier %} EventCard{{eventModifier}}{% endif %}
    {% if eventIsInverted %} EventCard--inverted{% endif %}" 
    {% if eventBackground %} style="background:{{eventBackground}}" {% endif %}>

    {% if eventSrc %}
        <img class="EventCard-image" src="{{eventSrc}}" alt="{{eventAlt}}">
    {% endif %}
    {% if eventName %}
        <div class="EventCard-eventName">{{ eventName }}</div>
    {% endif %}

    <div class="EventCard-section Prose">
        {{ eventDescription }}
    </div>

    
    {% set modifier = (eventIsInverted ? 'inverted' : '') %}
    {% include '@event-info' with {eventDate: eventDate, eventLocation: eventLocation, infoListModifiers: modifier} only %}
    

    {% if eventTicketTiers %}
        {% set modifier = (eventIsInverted ? 'three-quarters TicketTiers--inverted' : 'three-quarters') %}
        {% include '@ticket-tiers' with {ticketTiers: eventTicketTiers, ticketTiersModifiers: modifier } only %}
    {% endif %}

    {% if eventPastVersions | length %}
        <div class="EventCard-section">
            <div class="EventCard-context">{{eventListTitle}}</div>
            <ul class="EventCard-list">
                {% for pastVersion in eventPastVersions %}
                    <li class="EventCard-listItem ">
                        <a href="{{pastVersion.versionURL}}">{{pastVersion.versionText}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if eventUrl %}
        {% set modifier = ((eventStatus == 'current') ? '--block EventCard-link': ' EventCard-link' ) %}
        {% set modifier = (eventIsInverted ? modifier ~ ' MegaLink--inverted' : modifier) %}
        {% include '@mega-link' with {
            megaLinkURL: eventUrl,
            megaLinkText: eventLink,
            megaLinkModifier: modifier
        }%}
    {% endif %}
</div>
