<div class="EventCard{% if eventCardModifier %} EventCard{{eventCardModifier}}{% endif %}" {% if eventBackground %} style="background:{{eventBackground}}" {% endif %}>

    {% if eventCardSrc %}
    <img class="EventCard-image" src="{{eventCardSrc}}" alt="{{eventCardAlt}}">
    {% endif %}
    {% if eventCardName %}
    <div class="EventCard-eventName">{{ eventCardName }}</div>
    {% endif %}

    <p class="EventCard-section Prose">
    {{ eventCardDescription }}
    </p>

    {% include '@event-info' with eventCardInfo only %}
    {% include '@ticket-tiers' with {ticketTiers: eventCardTicketTiers, ticketTiersModifiers: 'three-quarters'} only %}

    {% if eventCardUrl %}
    <a href="{{eventCardUrl}}" class="EventCard-link MegaLink MegaLink--block">{{eventCardLink}}</a>
    {% endif %}
</div>
