<div class="EventCard{% if eventCardModifier %} EventCard{{eventCardModifier}}{% endif %}" {% if eventBackground %} style="background:{{eventBackground}}" {% endif %}>

    {% if eventCardSrc %}
    <img class="EventCard-image" src="{{eventCardSrc}}" alt="{{eventCardAlt}}">
    {% endif %}
    {% if eventCardName %}
    <div class="EventCard-eventName">{{ eventCardName }}</div>
    {% endif %}

    <p class="EventCard-section Prose">
    {{ eventCardDescription }}
    </p>

    {% if eventCardInfo %}
    {% include '@event-info' with eventCardInfo only %}
    {% endif %}

    {% if eventCardTicketTiers %}
    {% include '@ticket-tiers' with {ticketTiers: eventCardTicketTiers, ticketTiersModifiers: 'three-quarters'} only %}
    {% endif %}

    {% if pastVersions | length %}
    <div class="EventCard-section">
        <div class="EventCard-context">{{eventCardListTitle}}</div>
        <ul class="EventCard-list">
            {% for pastVersion in pastVersions %}
                <li class="EventCard-listItem ">
                    <a href="{{pastVersion.itemUrl}}">{{pastVersion.item}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    {% if eventCardUrl %}
    <a href="{{eventCardUrl}}" class="EventCard-link MegaLink MegaLink--block">{{eventCardLink}}</a>
    {% endif %}
</div>
