<div class="EventCard{% if eventCardModifier %} EventCard{{eventCardModifier}}{% endif %}">
    {% if eventCardContext %}
    <p class="EventCard-context ">{{ eventCardContext }}</p>
    {% endif %}

    {% if eventCardSrc %}
    <img class="EventCard-image" src="{{eventCardSrc}}" alt="{{eventCardAlt}}">
    {% else %}
    <div class="EventCard-eventName">{{ eventName }}</div>
    {% endif %}

    <p class="EventCard-description Prose">
        {{ eventCardDescription }}
    </p>

    {% if pastVersions|length %}
    <div class="EventCard-links">
        <div class="EventCard-context EventCard-list">{{eventCardListTitle}}</div>
        <ul class="EventCard-list">
        {% for pastVersion in pastVersions %}
            <li class="EventCard-listItem "><a href="{{pastVersion.itemUrl}}">{{pastVersion.item}}</a></li>
        {% endfor %}
        </ul><!--/.EventCard-list-->
    </div><!--/.EventCard-links-->
    {% endif %}

    {% if eventCardUrl %}
    <a href="{{eventCardUrl}}" class="EventCard-link MegaLink">{{eventCardLink}}</a>
    {% endif %}
</div><!--/.EventCard-->
