<div class="Ch4Project{%if ch4Modifier %} Ch4Project{{ch4Modifier}}{% endif %}">

    {% if "--stage" in ch4Modifier %}
        {% include '@site-header' %}
    {% endif %}

    <div class="Ch4Project-wrapper">

        {% if "--stage" in ch4Modifier %}
        <div class="Ch4Project-breadcrumb">
            {% include '@breadcrumb' %}
        </div>
        {% endif %}

        <div class="Ch4Project-content">

            <div class="Ch4Project-question">{{ ch4Question }}</div>

            <a href="{{ ch4LinkUrl }}"><h2 class="Ch4Project-title Heading Heading--secondary Heading--inverted">{{ ch4Title }}</h2></a>

            {% if ch4Description %}
            <div class="Ch4Project-description Lead Bar">
                {{ ch4Description }}
            </div>
            {% endif %}

            {% if ch4LogoSrc %}
            <img class="Ch4Project-logo" src="{{ ch4LogoSrc }}" alt="{{ ch4LogoAlt }}">
            {% endif %}

        </div>

    </div>
</div><!--./Ch4Project-->
