<div class="Ch4Project{%if ch4Modifier %} Ch4Project{{ch4Modifier}}{% endif %}">
    {% if "--stage" in ch4Modifier %}
    {% include '@site-header' %}
    {% endif %}

    <div class="Ch4Project-wrapper">
        
        {% if "--stage" in ch4Modifier %}
        <div class="Ch4Project-breadcrumb">
            {% include '@breadcrumb' %}
        </div><!--/.Ch4Project-breadcrumb-->
        {% endif %}
       
        <div class="Ch4Project-primary">
            
            {% if ch4Context %}
            <p class="Heading Heading--context Heading--inverted">{{ch4Context}}</p>
            {% endif %}

            <h1 class="Ch4Project-title">{{ch4Title}}</h1>

            {% if ch4Description %}
            <div class="Ch4Project-description Lead Bar">
                {{ch4Description}}
            </div><!--/.Ch4Project-description Lead Bar-->
            {% endif %}
            
            {% if ch4LogoSrc %}
            <img class="Ch4Project-logo" src="{{ch4LogoSrc}}" alt="{{ch4LogoAlt}}">
            {% endif %}
            
            {% if ch4Link %}
            <div class="Ch4Project-extension">
                <a class="MegaLink MegaLink--inverted" href="{{Ch4LinkUrl}}">{{ch4Link}}</a>
            </div><!--/.Ch4Project-extension-->
            {% endif %}
        
        </div><!--./.Ch4Project-primary-->

        {% if ch4MainSrc %}
        <div class="Ch4Project-secondary">
            <img class="Ch4Project-image" src="{{ch4MainSrc}}" alt="{{ch4MainAlt}}">
        </div>
        {% endif %}

    </div><!--/.Ch4Project-wrapper-->

    {% if "--stage" in ch4Modifier %}
    <div class="Ch4Project-skew" aria-hidden="true">
        <div class="Ch4Project-middle" aria-hidden="true"></div>
    </div><!--/.Ch4Project-skew-->
    {% endif %}
    
</div><!--./Ch4Project-->