<div class="EventCard{% if eventCardModifier %} EventCard{{eventCardModifier}}{% endif %}" {% if eventBackground %} style="background:{{eventBackground}}" {% endif %}>

    {% if eventCardSrc %}
    <img class="EventCard-image" src="{{eventCardSrc}}" alt="{{eventCardAlt}}">
    {% endif %}
    {% if eventCardName %}
    <div class="EventCard-eventName">{{ eventCardName }}</div>
    {% endif %}

    <p class="EventCard-section Prose">
    {{ eventCardDescription }}
    </p>

    {#
    <div class="EventCard-section">
        <div class="EventCard-context">{{eventCardWhenTitle}}</div>
        <p class="EventCard-description Prose">{{eventCardWhenText}}</p>
    </div>

    <div class="EventCard-section">
        <div class="EventCard-context">{{eventCardWhereTitle}}</div>
        <p class="EventCard-description Prose">{{eventCardWhereText}}</p>
    </div>
    #}

    {% include '@event-info' with eventCardInfo %}

    {% if eventCardUrl %}
        <a href="{{eventCardUrl}}" class="EventCard-link MegaLink">{{eventCardLink}}</a>
    {% endif %}
</div>
