<figure class="Quote{% if quoteModifiers %} Quote--{{quoteModifiers}}{% endif %}">
    {% if  'standalone' in quoteModifiers %}
    <svg class="Quote-marks" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 28.26H16.47L19.62 0H7.56L0 28.26ZM20.07 28.26H36.54L39.69 0H27.63L20.07 28.26Z" fill="currentColor"/>
    </svg>
    {% endif%}
    <blockquote class="Quote-text">
    {{quoteText}}
    </blockquote>
    <figcaption class="Quote-citation">
        {% if quoteAvatarSrc %}<img class="Quote-avatar" src="{{quoteAvatarSrc}}" alt="{{quoteAvatarAlt}}">{% endif %}
        <div class="Quote-author">
            {% if quoteAuthor %}<span class="Quote-authorname">{{quoteAuthor}}</span>{% endif %}
            {% if quoteAuthorRole %}<span class="Quote-authorrole">{% if 'standalone' in quoteModifiers %}, {% endif %}{{quoteAuthorRole}}</span>{% endif %}
        </div>
    </figcaption>
</figure>
