<div class="Trio{% if trioModifiers %} Trio{{ trioModifiers|join(' Trio') }}{% endif %}"{% if trioID %} id="{{ trioID }}"{% endif %}{% if trioMiscStyles %} style="{{ trioMiscStyles }}"{% endif %}>
    <div class="Trio-wrapper">
        <h2 class="Trio-title Heading Heading--main">{{trioHeading}}</h2>
        {% if trioModifier == "--evo Trio--inverted Trio--stacked" %}
            <div class="Trio-stats">
                <h3 class="Trio-statsHeading">Apple's “Best Newsstand App of 2013”</h3>
                <div class="Cols">
                    <div class="Cols-half">
                        <div class="Trio-statsFigure">97,000</div>
                        <p class="Trio-statsSupporting">New downloads in first 4 months of launch</p>
                    </div><!--/.Cols-half-->
                    <div class="Cols-half">
                        <div class="Trio-statsFigure">120%</div>
                        <p class="Trio-statsSupporting">New downloads in first 4 months of launch</p>
                    </div><!--/.Cols-half-->
                </div><!--/.Cols-->
            </div><!--/.Trio-stats-->
        {% endif %}
        <div class="Trio-collection">
            {% for trioItem in trioItems %}
            <div class="Trio-item{% if trioItem.trioItemModifier %} Trio-item{{trioItem.trioItemModifier}}{% endif %}">
                <img class="Trio-image" src="{{trioItem.imageSrc}}" alt="">
                <div class="Trio-description">
                    <h3 class="Trio-itemHead Heading {% if trioModifier %}Heading--body{% else %}Heading--small{% endif %}">{{trioItem.heading}}</h3>
                    <p>{{trioItem.text}}</p>
                </div>
            </div><!--/.Trio-item-->
            {% endfor %}
        </div><!--/.Trio-collection-->
    </div><!--/.Trio-wrapper-->
</div><!--/.Trio-->
