<div class="EventCard{% if eventCardModifier %} EventCard{{eventCardModifier}}{% endif %}"{% if eventBackground %}style="background:{{eventBackground}}"{% endif %}>
    
    {% if eventCardSrc %}
    <img class="EventCard-image" src="{{eventCardSrc}}" alt="{{eventCardAlt}}">
    {% else %}
    <div class="EventCard-eventName">{{ eventName }}</div>
    {% endif %}

    <p class="EventCard-description Prose">
        {{ eventCardDescription }}
    </p>

    
    <div class="EventCard-links">
        <div class="EventCard-context EventCard-list">{{eventCardWhenTitle}}</div>
        <p class="EventCard-description Prose">{{eventCardWhenText}}</p>
    </div>

    <div class="EventCard-links">
        <div class="EventCard-context EventCard-list">{{eventCardWhereTitle}}</div>
        <p class="EventCard-description Prose">{{eventCardWhereText}}</p>
    </div>


    {% if eventCardUrl %}
    <a href="{{eventCardUrl}}" class="EventCard-link MegaLink">{{eventCardLink}}</a>
    {% endif %}
</div>
