<div class="Selector">
    <a aria-controls="{{ selectorID }}" aria-expanded="false" class="Selector-trigger{% if triggerClass %} {{ triggerClass }}{% endif %}" href="#{{ selectorID }}">{{ triggerContent }}</a>
    <div aria-hidden="true" class="Selector-target{% if targetClass %} {{ targetClass }}{% endif %}" id="{{ selectorID }}">

    {% if listContext %}
    <ul class="Selector-list">
        {% for item in listContext.listItems %}
        <li class="Selector-listItem">
            <a href="{{ item.url }}" class="Selector-listLink">{{ item.content }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        {{ targetContent }}
    {% endif %}
    </div><!--/.Selector-target-->
</div><!--/.Selector-->
