<div class="Voice{% if voiceModifier %} Voice{{voiceModifier}}{% endif %}">
    <div class="Voice-person">
        <img src="{{voicePersonSrc}}" alt="{{voicePersonAlt}}">
    </div><!--/.Voice-person-->
    <div class="Voice-description">
        <blockquote>“{{voiceDescription}}”</blockquote>
        <p class="Voice-cite Heading Heading--context">{{voiceCite}}</p>
    </div><!--/.Voice-description-->
</div><!--/.Voice-->