<blockquote class="Quote{% if quoteModifiers %} Quote--{{quoteModifiers}}{% endif %}">
    {{quoteText}}
    <div class="Quote-citation">
        {% if quoteAvatarSrc %}<img class="Quote-avatar" src="{{quoteAvatarSrc}}" alt="{{quoteAvatarAlt}}">{% endif %}
        <div class="Quote-author">
            <span class="Quote-authorname">{{quoteAuthor}}</span>
            {% if quoteAuthorRole %}<span class="Quote-authorrole">{{quoteAuthorRole}}</span>{% endif %}
        </div>
    </div>
</blockquote>


