<div class="Masthead{% if mastheadModifier %} Masthead{{ mastheadModifier }}{% endif %}" role="banner">

    <div class="Masthead-container">

        {% if "--arrows" in mastheadModifier or "--combo" in mastheadModifier %}

        <div class="Masthead-secondary">
            {% include '@next-prev' %}
        </div><!--/.Masthead-secondary-->

        {% endif %}

        <div class="Masthead-primary">

            {% if mastheadBreadcrumb %}{% include '@breadcrumb' %}{% endif %}

            {% if mastheadContext %}
            <div class="Masthead-context">
                <p class="Heading Heading--context{% if mastheadModifier %} Heading{{ mastheadModifier }}{% endif %}">{{ mastheadContext }}</p>
            </div>
            {% endif %}

            <h1 class="Heading{% if '--arrows' in mastheadModifier or '--combo' in mastheadModifier %} Heading--secondary{% else %} Heading--main{% endif %}{% if mastheadHeadingModifer %} Heading{{ mastheadHeadingModifer }}{% endif %}{% if '--inverted' in mastheadModifier %} Heading--inverted {% endif %}">{{ mastheadTitle }}</h1>

            {% if mastheadSub %}<p class="Masthead-sub{% if mastheadSubModifer %} Masthead-sub{{ mastheadSubModifer }}{% endif %} Heading Heading--context{% if mastheadHeadingModifer %} Heading{{ mastheadHeadingModifer }}{% endif %}">{{ mastheadSub }}</p>{% endif %}

        </div><!--/.Masthead-primary-->

        {% if "--combo" in mastheadModifier %}

        <div class="Masthead-third">
            <div class="Heading Heading--context">
                    {{ mastheadThirdHeading }}
            </div>
            {{ mastheadThird }}
        </div><!--/.Masthead-third-->

        {% endif %}

        {% if mastheadDescription %}
        <div class="Masthead-lead">
            <div class="Masthead-description Lead {% if "--minimal" not in mastheadModifier %} Bar {% endif %}">{{ mastheadDescription }}</div>
            {% if mastheadDescriptionSecondary %}
            <div class="Masthead-descriptionSecondary">
                {% include '@list' with { listItems: mastheadDescriptionSecondary } %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        
    </div>

</div><!--/.Masthead-->
