<div class="ContactCard h-card">
    <div class="ContactCard-item">
        <span class="p-street-address">{{contactStreet}}</span>,<br>
        <span class="p-locality">{{contactTown}}</span>,<br>
        <span class="p-postal-code">{{contactPostcode}}</span>
    </div><!--/.ContactCard-item-->
    <div class="ContactCard-item Contact-group">
        <a class="u-email" href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
        <span class="p-tel">{{contactTel}}</span><br>
        {% if contactVcardLink %}
        <a href="{{contactVcardLink}}">Download our vCard</a>
        {% endif %}
    </div><!--/.ContactCard-item-->
</div><!--/.ContactCard-->