<div class="Masthead{% if mastheadModifier %} Masthead{{mastheadModifier}}{% endif %}">
    
    {% if nextPrev %}
    {% include '@next-prev' %}
    {% endif %}

    <div class="Masthead-primary">
        {% if mastheadBreadcrumb %} {% include '@breadcrumb' %}{% endif %}
        <h1 class="{% if (mastheadModifier == '--combo') or (mastheadModifier == '--combo Masthead--tall') %} Heading Heading--secondary{% else %} Heading Heading--main{% endif %}{% if mastheadHeadingModifer %} Heading{{mastheadHeadingModifer}}{% endif %}
        ">{{mastheadTitle}}</h1>
        {% if (mastheadModifier == '--combo') or (mastheadModifier == '--combo Masthead--tall') %}<p class="Masthead-sub Heading Heading--context">Senior UX Designer</p>{% endif %}
    </div><!--/.Masthead-primary-->

    {% if mastheadSecondary %}
    <div class="Masthead-secondary">
        <div class="Heading Heading--context">{{mastheadSecondaryHeading}}</div>
        <a class="Masthead-link" href="#">{{mastheadSecondaryLink}}</a>
    </div><!--/.Masthead-secondary-->
    {% endif %}

</div><!--/.Masthead-->