{% for chapter in chapters %}
<div class="Chapter">
    <div class="Chapter-space Chapter-space--primary">
        <div class="Prose">
        {{chapter.primaryContent}}
        </div>
    </div><!--/.Chapter-primary-->
    <div class="Chapter-space Chapter-space--secondary">
        {% if chapter.srcSVG %}
        <img class="Chapter-image" src="{{chapter.srcSVG}}" onerror="this.src='{{chapter.image}}'; this.onerror=null;" alt="{{chapter.srcAlt}}">
        {% else %}
        <img class="Chapter-image" src="{{chapter.src}}" alt="{{chapter.srcAlt}}">
        {% endif %}
    </div><!--/.Chapter-secondary-->
</div><!--/.Chapter-->
{% endfor %}