{% for chapter in chapters %}
<div class="Chapter">
    <div class="Chapter-space Chapter-space--primary">
        <h2 class="Chapter-title">{{chapter.title}}</h2>
        <p>{{chapter.paraOne}}</p>
        <p>{{chapter.paraTwo}}</p>
    </div><!--/.Chapter-primary-->
    <div class="Chapter-space Chapter-space--secondary">
        <img class="Chapter-image" src="{{chapter.imageSVG}}" onerror="this.src='{{chapter.imagePNG}}'; this.onerror=null;" alt="">
    </div><!--/.Chapter-secondary-->
</div><!--/.Chapter-->
{% endfor %}