
<div class="Chapter{% if chapterModifier %} Chapter{{chapterModifier}}{% endif %}">
    <div class="Chapter-space Chapter-space--primary">
        <div class="Prose">
            {{chapterProse}}
        </div><!--/.Prose-->
    </div><!--/.Chapter-primary-->
    <div class="Chapter-space Chapter-space--secondary">
        {% if srcSVG %}
        <img class="Chapter-image" src="{{srcSVG}}" onerror="this.src='{{image}}'; this.onerror=null;" alt="{{srcAlt}}">
        {% else %}
        <img class="Chapter-image" src="{{src}}" alt="{{srcAlt}}">
        {% endif %}
    </div><!--/.Chapter-secondary-->
</div><!--/.Chapter-->

