<div class="WorkshopBlock" style="background-color: {{ workshopBlockBackgroundColor }}">
    <div class="WorkshopBlock-primary">
        <div class="TextBlock">
            <h2 class="Heading Heading--medium">{{ workshopBlockHost }}</h2>
            <h3 class="Heading Heading--bump">{{ workshopBlockTitle }}</h3>
            <p class="Heading Heading--context">{{ workshopBlockLocation }}</p>
        </div>
    </div>
    <div class="WorkshopBlock-secondary">
        <div class="TextBlock Prose">
            <p>{{ workshopBlockDescription }}</p>
            <p><a href="{{ workshopBlockUrl }}">Full event details &amp; tickets</a></p>
        </div>
    </div>
</div>
