<div class="Card">
    <div class="Card-primary">
        <div class="Card-context">{{ openContext }}</div>
        <h3 class="Card-title">{{ cardTitle }}</h3>
        {% if cardDescription %}
        <p class="Card-description">{{ cardDescription }}</p>
        {% endif %}
        {% if secondContext %}
        <div class="Heading Heading--context">{{ secondContext }}</div>
        {% endif %}
    </div><!--/.Card-main-->
    <div class="Card-secondary">
        {% if closeContext %}
            <div class="Heading Heading--context">{{ closeContext }}</div>
        {% endif %}
        {% if indexCard %}
            {% include '@index-card' %}
        {% endif %}
    </div><!--/.Card-secondary-->
</div><!--/.Card-->