<div class="Card">
    <div class="Card-primary">
        <div class="Heading Heading--context">{{ openContext }}</div>
        <h3 class="Heading Heading--body">{{ cardTitle }}</h3>
        {% if cardDescription %}
        <p>{{ cardDescription }}</p>
        {% endif %}
        {% if secondContext %}
        <span class="Heading Heading--context">{{ secondContext }}</span>
        {% endif %}
    </div><!--/.Card-main-->
    <div class="Card-secondary">
        {% if closeContext %}
            <div class="Heading Heading--context">{{ closeContext }}</div>
        {% endif %}
        {% if indexCard %}
            {% include '@index-card' %}
        {% endif %}
    </div><!--/.Card-secondary-->
</div><!--/.Card-->