<article class="Card{% if cardModifier %} Card{{ cardModifier }}{% endif %}">
    {% if cardModifier != "--tiny-lesson" %}<div class="Bar"></div>{% endif %}
    <div class="Card-primary">
        <header>
            <a href="{{cardUrl}}" class="Card-link"><h3 class="Card-title">{{ cardTitle }}</h3></a>
        </header>
        {% if cardCategory %}<div class="Card-category">{{ cardCategory }}</div>{% endif %}
        {% if cardMeta %}<div class="Card-meta">{{ cardMeta }}</div>{% endif %}
        {% if cardDescription %}<p class="Card-description">{{ cardDescription }}</p>{% endif %}
        {% if cardModifier == "--vibrant" %} <a href="{{cardLink}}" class="MegaLink">Read the case study</a> {% endif %}
        <div class="Card-author">
        {% if authorImage %}
            {% include '@author' %}
        {% endif %}
        </div><!--/.Card-author-->
    </div><!--/.Card-primary-->
</article><!--/.Card-->
