{% set cardHeadingId = cardId|default('card') ~ '-heading' %}
{% set cardHeading %}
<h2 class="Card-title"{% if cardHeaderColour %} 
    style="color:{{ cardHeaderColour }}"{% endif %}
    id="{{cardHeadingId}}"
    >{{ cardTitle }}</h2>
{% endset %}

<article class="Card {% if cardModifiers %}Card{{ cardModifiers|join(' Card') }}{% endif %}"
    {% if cardMiscStyles %} style="{{ cardMiscStyles }}"{% endif %}
    aria-labelledby="{{cardHeadingId}}"
    >
    {% if cardBar %}
        <div class="Bar"{% if cardBarColour %} style="color:{{ cardBarColour }}"{% endif %}></div>
    {% endif %}
    {% if cardLogoAlt %}
        {% if cardLogoSrc %}
        <img class="Card-logo" src="{{ cardLogoSrc }}" alt="{{ cardLogoAlt }}">
        {% else %}
        <h3 class="Heading Heading--context">{{ cardLogoAlt }}</h3>
        {% endif %}
    {% endif %}
    <div class="Card-primary">
        <header>
            {% if cardUrl %}
            <a href="{{ cardUrl }}">
                {{cardHeading}}
            </a>
            {% else %}
            {{cardHeading}}
            {% endif %}
        </header>
        {% if cardCategory %}<div class="Card-category">{{ cardCategory }}</div>{% endif %}
        {% if cardMeta %}<div class="Card-meta">{{ cardMeta }}</div>{% endif %}
        {% if cardDescription %}<p class="Card-description">{{ cardDescription }}</p>{% endif %}
        {% if cardLink %}
            <a href="{{ cardUrl }}">Read the case study</a>
        {% endif %}
        {% if authorImage or authorName %}
        <div class="Card-author">
            {% include '@author' %}
        </div><!--/.Card-author-->
        {% endif %}
    </div><!--/.Card-primary-->
</article><!--/.Card-->
