{% include '@site-header' %}
{% include '@breadcrumb' %}
<div class="Showcase">
    <div class="Showcase-wrapper">
        {% include '@metadata' with {
            metadataHeading: 'What we did',
            items: showcaseActivities
        } %}
        <div class="Showcase-primary" role="banner">
            <h1 class="Showcase-title Heading Heading--secondary">{{showcaseTitle}}</h1>
            <p class="Showcase-description">{{showcaseText}}</p>
        </div>
    </div>
{% if showcaseImage %}
    <div class="Showcase-canvas"{% if showcaseColour %} style="background-color: {{ showcaseColour }}"{% endif %}>
        <img class="Showcase-image" src="{{showcaseImage}}" alt="{{showcaseImageText}}">
    </div>
{% endif %}
</div><!--/.Showcase-->
