<div class="Showcase{% if showcaseModifier %} Showcase{{showcaseModifier}}{% endif %}">
    {% include '@site-header' %}
    <div class="Showcase-wrapper">
        <div class="Showcase-primary">
            {% include '@breadcrumb' %}
            <h1 class="Showcase-title">{{showcaseTitle}}</h1>
            <div class="Showcase-description Lead Bar">{{showcaseText}}</div>
        </div>
        {% if showcaseImage %}<img aria-hidden="true" class="Showcase-image" src="{{showcaseImage}}" alt="">{% endif %}
        {% if showcaseLogo %}<img class="Showcase-logo" src="{{showcaseLogo}}" alt="">{% endif %}
    </div>
    {% if showcaseModifier == "--featuredCh4" %}
    <div class="Showcase-bg" aria-hidden="true">
        <div class="Showcase-middle" aria-hidden="true"></div>
    </div><!--/.Skewed section-->
    {% endif %}
</div><!--/.Showcase-->