<div class="InputGroup">
    <label class="InputGroup-label Heading Heading--body" for="{{inputGroupID}}">{{inputGroupLabel}}</label>
    <div class="Input InputGroup--combo">
        <input class="InputGroup-field" type="email" placeholder="{{inputGroupPlaceholder}}" id="{{inputGroupID}}" />
        <button type="submit" class="InputGroup-submit">{{inputGroupSubmit}}</button>
    </div><!--/.InputGroup-->
</div><!--/.InputGroup-->
