<div class="Hello{% if helloModifiers %} Hello--{{helloModifiers}}{% endif %}">
    <div class="Hello-container">
        <figure class="Hello-image">
            <img src="{{ helloImgSrc }}" alt="{{ helloImgAlt }}">
            {%if helloImgText%}<figcaption>{{ helloImgText }}</figcaption>{%endif%}
        </figure>
        <div>
            <h3 class="Hello-title Heading Heading--inverted Heading--medium">{{ helloHeading }}</h3>
            <div class="Hello-body">
                {{ helloBody }}
            </div>
        </div>
    </div>
</div><!--/.Hello-->
